
.image{
    background-image: url(images/ma.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}

.first{
    position:absolute;
    top: 50%;
    margin-left: 100px;
}

.f_text{
    color: white;
    font-style: bold;
    font-size: 70px;

}
.f_small{
    color: white;
    font-size: 25px;
    text-align: justify;
    width: 700px;
}
.btn{
    padding: 12px;
    color: white;
    font-size: 25px;
    border-radius: 15px;
}
.s{
    margin-top: 200px;
    display: flex;
    margin-left: 100px;
}
.second{
    
    width: 40%;
    
}
.second_text{
    margin-top: 40px;
    font-size: 60px;
}
.second_text_s{
    font-size: 25px;
    text-align: justify;
}
.second_image{
    margin-left: 100px;
}
.s_image{
    border-radius: 30px;
    width: 800px;
    height: 600px;
}

.th{
    margin-top: 200px;
    display: flex;
    margin-left: 100px;
}
.third{
    width: 40%;
    
    
}
.t_image{
    background-image: url(images/ma1.webp);
    height: 550px;
    background-size: 100% 100%;
    border-radius: 30px;
    width: 800px;

}
.third_text{
    margin-left: 300px;
    
}
.t_big{
    margin-top: 50px;
    font-size: 70px;
}
.t_small{
    font-size: 25px;
    margin-right: 100px;
    text-align: justify;
}

.f{
    margin-top: 200px;
}

.f_big{
    text-align: center;
    font-size: 70px;
}
.f_sm{
    font-size: 25px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

.five{
    margin-top: 100px;
    margin-left: 100px;
    
}

.five_total{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:0 200px;
    
  


   
}
.ff{
   
    width: 650px;
    height: 450px;
    background-color: lightgray;
    box-shadow: 10px 10px 10px black;
   
    text-align: center;
    
    margin: 20px 20px;
    border-radius: 30px;

}

.six_body{
    text-align: center;
}
.six{
    margin-top: 200px;
    margin-left: 50px;
}
.six_big{
    font-size: 60px;
    text-align: center;
    margin: 0 300px;
}
.six_small{
    font-size: 25px;
    text-align: center;
    margin: 0 300px;
    
}
.card-deck{
    margin-top: 100px;
    margin: 0 50px;
}

.me{
    width: 567px;
    height: 400px;
}
.but{
    text-align: center;
    margin: 0 auto;
    
}
.others{
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
}
.four_text{
    text-align: center;
}

footer{
    background-color: black;
    height: 120px;
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
}
footer h2{
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
}
footer p{
    font-size: 25px;
}

ul{
    display: flex;
    justify-content: end;
}
li{
    
    font-size: 30px;
    list-style: none;
    margin: 0 30px;
    
}
#tumi{
    display: flex;
    flex-grow: 7;
}